//**
//* The page object is the site's content wrapper.
//**

.article {
  display: flex;
  position: relative;
  padding: 5rem 3rem;
  @include breakpoint(max-width $medium) {
    padding: 6rem 2rem 1rem 2rem;
  }
  h1, h2, h3 {
    @include breakpoint(max-width $small) {
      margin-top: 2.25rem;
    }
  }
  &__page {
    flex: 1;
    max-width: 42rem;
    @include breakpoint(max-width $small) {
      max-width: 38rem;
    }
    p {
      &:not(:first-of-type) {
        text-indent: 1rem;      
      }
    }
    a {
      @extend %pop;
    }
  }
}

