.js-hover {
	cursor: crosshair;
	background-image: url("../images/underline.png");
	background-repeat: repeat-x;
	background-position: 0 100%;
	&:hover {
		color: color(_red);
    @include breakpoint(max-width $small) {
      color: inherit;
    }
	}
  @include breakpoint(max-width $small) {
    cursor: initial;
    background: none;
  }
}