.latest-articles {
	display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  margin-right: 4em;
  font-size: 150%;
  &__header {
  	font-family: serif;
  	font-size: 1.5em;
  	text-transform: uppercase;
  	margin-bottom: 2em;
  	align-self: flex-end;
  	box-shadow: 0 1px 0 color(_white), 0 2px 0 color(_text);
  	color: color(_text);
  	padding-bottom: 0.5em;
  	letter-spacing: 0.15em;
  }
		.single-article {
		padding-bottom: 0.5em;
		&:hover {
			.single-article__title {
				color: color(_red);
			}
		}
		&__title {
			font-family: "Bookmania", sans-serif;
			font-weight: 400;
			font-size: 1.5em;
			margin-top: 1.5em;
			&:hover {
				color: color(_red);
			}
		}
		&__date {
			font-family: "Source Sans Pro";
			font-weight: 200;
			margin-top: 0;
			font-size: 1em;
			color: lighten(color(_text), 20%);
		}
	}
}