.menu {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
  color: color(_text);
  top: 0;
  left: 0;
  margin: auto;
  background: color(_offwhite);
  opacity: 0.95;
  &.is-visible {
    display: block;
    border: 1rem solid color(_text);
  }
  &__item {
    width: 100%;
    text-align: center;
    &:hover {
      color: color(_red);
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2rem;
    line-height: 2;
  }
}

.toggler, .toggler:hover, .toggler.is-active, .toggler-inner, .toggler-inner::before, .toggler-inner::after, .menu.is-active {
    transition: 200ms all;
}

.toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  z-index: 100;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 20px;
  width: 60px;
  height: 60px;
  user-select: none;
  &:hover {
    .toggler-inner {
      width: 40px;
      opacity: 1;
    }
  }
  &.is-active {
    padding: 0;
    .toggler-inner {
      width: 40px;
    }
  }

}

.toggler-inner {
  background: color(_text);
  height: 5px;
  width: 24px;
  opacity: 0.4;
  &::before, &::after {
    background: color(_text);
    content: '';
    display: block;
    height: 5px;
    width: 40px;
  }
  &::before {
    transform: translateY(20px) translateZ(0);
  }
  &::after {
    transform: translateY(5px) translateZ(0);
  }
  &.is-active {
    background: transparent;
    &::before {
      transform: translateY(0) translateZ(0) rotate(-45deg);
    }
    &::after {
      transform: translateY(-5px) translateX(0) translateZ(0) rotate(45deg);
    }
  }
}