<div class="latest-articles">
    <div class="single-article js-link-parent" data-url="article1">
         <a href="/article.html"  class="single-article__title" >How many articles can I fit here?</a>
         <p class="single-article__date">— December 22nd 2015</p>
    </div>
    <div class="single-article js-link-parent"  data-url="article2">
        <a href="/article.html" class="single-article__title">Code & coffee for a better health</a>
        <p class="single-article__date">— December 21st 2015</p>
    </div>
    <div class="single-article  js-link-parent" data-url="article3">
        <a href="/article.html" class="single-article__title" data-url="article3">Organized mind is a happier mind</a>
        <p class="single-article__date">— November 3rd 2015</p>
    </div>
    <div class="single-article  js-link-parent" data-url="article4">
        <a href="/article.html" class="single-article__title">Avoiding conflicts in large web applications</a>
        <p class="single-article__date">— September 21st 2015</p>
        </div>
    <div class="single-article  js-link-parent" data-url="article5">
        <a href="/article.html" class="single-article__title">Writing front-end guidelines</a>
        <p class="single-article__date">— June 12th 2015</p>
    </div>
   <div class="single-article  js-link-parent" data-url="article6">
        <a href="/article.html" class="single-article__title">25 things I hate about clickbait</a>
        <p class="single-article__date">— June 11th 2015</p>
    </div>
</div>