<div class="menu">
  <nav>
  {% assign current = page.url | downcase | split: '/' %}
      <a href='/'
          {% if current[1] == page.baseurl %} class='menu__item is-active'
          {% else %} class="menu__item" 
          {% endif %}>Home
      </a>
      <a href='/about' 
        {% if current[1] == 'about' %} class='menu__item is-active'
        {% else %} class="menu__item" 
        {% endif %}>About
      </a>
      <a href='/contact' 
        {% if current[1] == 'contact' %}class='menu__item is-active'
        {% else %} class="menu__item" 
        {% endif %}>Contact
      </a>
  </nav>
</div>