//**
//* The page object is the site's content wrapper.
//**

.page {
	position: relative;
	padding-top: 0;
	padding: 0 4vw;
	margin: 2rem auto;
	margin-top: 0;
	max-width: rem(1337px);
	border-radius: 2px;
}