.intro-image {
	margin: 0 auto;
	height: 350px;
	overflow: hidden;
	background-size: 100%;
	background-position: 50% 60%;
	background-repeat: no-repeat;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	&__logo {
		width: 155px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
		> use {
			fill: color(_offwhite);
		}
		&:hover > use {
			fill: color(_white);
		}
	}
}