.intro-image {
	margin: 0 auto;
	height: 80vh;
	overflow: hidden;
	background-size: 100%;
	background-position: 50% 60%;
	background-repeat: no-repeat;
	border-radius: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&__caption {
		position: absolute;
		left: 10%;
		bottom: 10%;
		font-size: 4rem;
		color: rgb(251, 251, 251);
		text-shadow: 1px 1px 2px #333;
	}
	&__subtitle {
		
	}
	&__logo {
		width: 155px;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
		> use {
			fill: color(_white);
		}
	}
}