.latest-articles {
	display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
		.single-article {
		padding-bottom: 1.5rem;
		&:hover {
			.single-article__title {
				color: color(_red);
			}
		}
		&__title {
			font-family: "Bookmania", sans-serif;
			font-weight: 400;
			font-size: rem(28px);
			margin-top: 2rem;
			&:hover {
				color: color(_red);
			}
		}
		&__date {
			font-family: "Source Sans Pro";
			font-weight: 200;
			margin-top: 0.5rem;
			color: lighten(color(_text), 20%);
		}
	}
}