.header {
    width: 100%;
    position: relative;
}

.menu {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    padding: 2rem 0;
    &__item {
    margin-right: 1rem;
    color: color(_text);
    text-decoration: none;
        &:hover,
        &.is-active {
          box-shadow: 0 1px 0 rgba(color(_text), 0.6);
        }
    }
}
