---
layout: default
---

<div class="wrapper">
	<div class="page">
		<header class="header" id="js-header">
			<nav class="menu">
				<a href="/" class="menu__item">Home</a>
				<a href="#" class="menu__item is-active">Articles</a>
			</nav>
		</header>
		<div class="intro-image" id="js-parallax" style="background-image: url('/images{{page.id}}.jpg')">
			<svg>
				<use xlink:href="{{ site.baseurl }}/images/sprite.svg#logo" style="fill: #FFFFFF"></use>
			</svg>
		</div>
		<div class="meta">
			<div class="topics">
				<p><span class="h-italics">Topics:</span>
				{% for tag in post.tags %} 
				<a href="#a">{{ tag }}</a>
				{% endfor %}
				{% for tag in post.tags %}
				<td>{{ tag }}</td>
				{% endfor %}
				</div>
				<div class="credits">
					<p>Image by Pedro Gandra — <a href="//unsplash.com" target="_blank">Unsplash</a></p>
				</div>
			</div>
			<div class="content">
				<main class="article hyphenate">
					{{ content }}
				</main>
			</div>
	</div>
</div>