---
---

<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>    
    {{content}}
    {% include scripts.html %}
  </body>
  <link href='https://fonts.googleapis.com/css?family=Gentium+Basic' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
  <script>
    (function(d) {
      var config = {
        kitId: 'tqk3vho',
        scriptTimeout: 3000,
        async: true,
        classes: false
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
</html>