footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 1 10%;
  background: color(_offwhite);
  .upper-copy {
    font-size: 80%;
    margin: 0;
    margin-top: 1rem;
  }
  .lower-copy {
    font-size: 70%;
    margin: 0;
  }
  .footer-icon {
    fill: color(_text);
    width: 1.75rem;
    height: 1rem;
    position: relative;
    top: 2px;
  }

}
