@import "environment/config";
@import "environment/functions";
@import "environment/variables";

*, *:before, *:after {
	box-sizing: border-box;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
html, body {
  height: 100%;
}
body {
  background: rgba(58, 71, 80, 0.08);
  //background: color(_white);
  padding: 1rem;
  width: 100%;
  max-width: rem(1800px);
  max-height: rem(1160px);
  position: relative;
}
.dev {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 14px;
  background: red;
  color: white;
    &::after {
      content: '';
      width: 150px;
      height: 150px;
      @include breakpoint(max-width $large) {content: "maxwidth $large"}
      @include breakpoint(max-width $medium) {content: "maxwidth $medium" }
      @include breakpoint(max-width $small) {content: "maxwidth $small" }
    }

}


::selection {
  background-color: rgba(color(_red), 0.7);
  color: color(_white);
  text-shadow: none;
}

.wrapper {
  position: relative;
	background: color(_offwhite);
}

pre {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    &-track {
      background: #CCC;
    }
    &-thumb {
        background: #7B7B7B;
      }
  }
}

%pop {
  box-shadow: 0 1px 0 rgba(color(_text), 0.6);
  &:hover {
    position: relative;
    box-shadow: 0 1px 0 color(_red);
    color: color(_red);
    &:before {
      content: (attr(href));
      padding: 4px 8px;
      position: absolute;
      left: 0;
      bottom: 100%;
      white-space: nowrap;
      z-index: 10;
      border-radius: 5px;
      box-shadow: 0px 0px 4px #222;
      text-indent: 0;
      background: color(_offwhite);
      color: #333;
    }
  }
  &.nopop {
    box-shadow: initial;
    &:hover {
      position: initial;
      box-shadow: initial;
      color: initial;
      &:before {
        content: initial;
      }
    }
  }
}